@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
}

:root {
  --primTextColor: white;
}

body::-webkit-scrollbar {
  width: 0em;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
