.container {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 6em;
}
.chevron {
  position: absolute;
  height: 5em;
  width: 3.125em;
  border: 0.25em solid #ffffff;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 3.125em;
  border-radius: 1.5em;
}
a.chevron:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 0.6em;
  height: 0.6em;
  width: 0.6em;
  background-color: #ffffff;
  border-radius: 50%;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(2.63em);
    opacity: 0;
  }
}
